body {
    background-image: url(/image/road-bg.jpg);
    background-size: cover;
    background-position: top;
}
/*Main solution*/
.solution {
    margin-top: 15vh;
}
/*footer*/
section.footer li:nth-child(1) i {
    color: #1877f2;
  }
section.footer li:nth-child(2) i {
    color: #00C300;
  }
section.footer li:nth-child(3) i {
    color: #1DA1F2;
  }
section.footer li:nth-child(4) i {
    color: #181717;
  }
section.footer li i:hover {
    color: #63C9FF;
  }